* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #111;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #ff0055;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.btn {
  background: #ff0055;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 10%;
}

.hero .info {
  max-width: 400px;
}

.hero span {
  color: #ff0055;
}


.email-box input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

/* About Section */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 10%;
  background: #111;
}

.about img {
  border-radius: 10px;
}

.about .text {
  max-width: 400px;
}

/* Services */
.skills {
  text-align: center;
  padding: 60px 10%;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  margin: 10px;
}

/* Hire */
.hire {
  text-align: center;
  padding: 50px;
  background: #111;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #0d0d0d;
}

.social a {
  color: #ff0055;
  margin: 0 8px;
  text-decoration: none;
}